body {
    background-color: rebeccapurple;
    color: white;
    font-family: sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    max-width: 70%;
}

.text-center {
    text-align: center;
}

a, a:link, a:visited, a:focus, a:hover, a:active, a:any-link, a:-webkit-any-link {
    color: white !important;
}