<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico/">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Pointillism</title>
</head>

<body>
    <div class="container text-center">
        <h2>NOOPS Challenge - HexBot</h2>
        <h4>Click on the photo to <a href="https://en.wikipedia.org/wiki/Pointillism">pointillize</a> it!</h4>
        <p>Not for production. Unsplash API might not work as I am using demo version.</p>
        {% if not styled %}
        <a id='image' onclick="pleaseWait()" href='/pointillize/'><img src="{{path}}"></a>
        <p id='wait'></p>
        {% else %}
        <img src="{{path}}">
        <p>Here are your results!</p>
        {% endif %}
    </div>

    <script>
        function pleaseWait() {
            document.getElementById('wait').innerHTML = 'Please Wait... This might take time depending on the size of photo';
        }
    </script>
</body>

</html>
